/* @import "node_modules/bootstrap/dist/css/bootstrap.css"; */

body {
    -ms-overflow-style: scrollbar;
    -webkit-app-region: drag;

    overflow: hidden;

    color: #4b0058;
    font-family: 'calibri';
    background: #b56dc7;

    /* box-sizing: border-box; */
}

.container{
    height: 100vh;
}

input, textarea, button, span.spanButton, a {
  -webkit-app-region: no-drag;
}

.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  
  height: 40px;
  width: 100%;
  background: #9f29bc;
}
#winClose {
    box-sizing: border-box;
    -webkit-app-region: no-drag;
    padding: 8px 0px;
    height: 100%;
    width: 50px;
    text-align: center;
}
#winClose:hover{
    background-color: red;
}


/* correcoes uk-grid */
.uk-grid {
    margin-left: 0px;
}
.uk-grid>* {
    padding-left: 0px;
}


#logo{
    height: 100px;
    width: 100px;
    background: white;
}